<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping App | Om Goyal</title>
    <link rel="stylesheet" href="/static/styles/styles.css">
</head>
<body>
    <header>
        <h1>Shopping App (By Om Goyal)</h1>
        <div class="search-container">
            <form action="/search" method="GET">
                <input type="text" name="query" placeholder="Search products..." class="search-input" value="{{ query if search }}" minlength="2">
                <button type="submit" class="search-button">Search</button>
            </form>
        </div>
    </header>
    <main>
        {% if search and query %}
            <h2>Search Results for "{{ query }}"</h2>
            {% if products %}
                <div class="products">
                    {% for product in products %}
                    <div class="product-card">
                        <h3>{{ product.name }}</h3>
                        <div class="product-images">
                            <img src="/Products/{{ product.name }}/assets/{{ product.images[0] }}" alt="{{ product.name }}">
                        </div>
                        <p>₹{{ product.price }}</p>
                        <a href="/product/{{ product.name }}" class="btn">View Product</a>
                        <form action="{{ url_for('add_to_cart', product_name=product.link.split('/')[-1]) }}" method="post">
                            <input type="number" name="quantity" value="1" min="1">
                            <button type="submit">Add to Cart</button>
                        </form>
                    </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>No products matched your search for "{{ query }}".</p>
                <a href="/" class="btn">Go to Home</a>
            {% endif %}
        {% else %}
            <h2>All Products</h2>
            <div class="products">
                {% for product in products %}
                <div class="product-card">
                    <h3>{{ product.name }}</h3>
                    <div class="product-images">
                    <img src="/Products/{{ product.name }}/assets/{{ product.images[0] }}" alt="{{ product.name }} image">
                </div>
                    <p>₹{{ product.price }}</p>
                    <a href="/product/{{ product.name }}" class="btn">View Product</a>
                    <form action="{{ url_for('add_to_cart', product_name=product.link.split('/')[-1]) }}" method="post">
                        <input type="number" name="quantity" value="1" min="1">
                        <button type="submit">Add to Cart</button>
                    </form>
                </div>
                {% endfor %}
            </div>
        {% endif %}
    </main>
</body>
</html>
